div#tempat-upload
	div(id = "progress" class = "progress")
		div(class = "progress-bar progress-bar-success")
	//- div(id = "files" class = "files")
		i.fa.fa.times
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-user")
				h2 CONTENT MANAGEMENT

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					br
					div#tempat-pesan
					form#formContent.form-horizontal(enctype = "multipart/form-data" action = url method = "POST")
						div.row
							div.col-lg-12
								div.form-group
									label.control-label.col-lg-1.text-right Produk
									div.col-lg-6
										- if (status == 'tambah')
											input.form-control(type = 'text' name = "produk")#produk
										- else
											input(type = "text" name = "idne" value = result._id style = "display : none;").form-control#idne
											input(type = "text" name = "urlgambar" value = result.gambar style = "display : none;").form-control#urlgambar
											input.form-control(value = result.produk type = 'text' name = "produk")#produk
						br
						div.row
							div.col-lg-12
								div.form-group
									label.control-label.col-lg-1.text-right Harga
									div.col-lg-3
										- if (status == 'tambah')
											input.form-control(type = 'text' name = "harga")#harga
										- else
											input.form-control(value = result.harga type = 'text' name = "harga")#harga
						br
						div.row
							div.col-lg-12
								div.form-group
									label.control-label.col-lg-1.text-right Stok
									div.col-lg-3
										- if (status == 'tambah')
											input.form-control(type = 'text' name = "stock")#stock
										- else
											input.form-control(value = result.stock type = 'text' name = "stock")#stock
						br
						div.row
							div.col-lg-12
								div.form-group
									label.control-label.col-lg-1.text-right Berat
									div.col-lg-3
										- if (status == 'tambah')
											input.form-control(type = 'text' name = "berat")#berat
										- else
											input.form-control(value = result.berat type = 'text' name = "berat")#berat
						br
						div.row
							div.col-lg-12
								div.form-group
									label.control-label.col-lg-1.text-right Gambar
									div.col-lg-6
										- if (status == 'tambah')
											input.form-control(type = 'file' name = "gambar" accept = "image/*")#gambar
										- else
											div.box-img(style="position:relative; width:100px; max-height:75px")
												div.over-img.smart-form
													button.btn.btn-info.btn-xs(title="Upload" type="button" onClick = "pilihGambar();" style="margin-right:5px;")
														i.fa.fa-upload
													input.form-control#gambar(accept = "image/*" type = "file" name = "gambar" style = "display :none;")
												- var gambarnya = "background-image:url('" + result.gambar + "')";
												div.thumbnail.img(style = gambarnya)
											//- input.form-control(value = result.gambar type = 'file' name = "gambar" accept = "image/*")#gambar
						br
						div.row
							div.col-lg-12
								div.form-group
									label.control-label.col-lg-1.text-right Kategori
									div.col-lg-6
										- if (status == 'tambah')
											select.taginput.demo-default#kategori(multiple placeholder = "Select a kategori ..." name = "kategori")
										- else 
											select.taginput.demo-default#kategori(name = "kategori" multiple placeholder = "Select a kategori ..." data-value = JSON.stringify(kategori))
						br
						div.row
							div.col-lg-1
							div.col-lg-6
								div.form-group
									- if (status == 'tambah') 
										button.btn.btn-info(style = "margin-right : 10px;", type = "submit")#simpanItems Simpan
									- else
										button.btn.btn-info(style = "margin-right : 10px;" data-id = result.id type = "submit")#simpanItems Update
									a.btn.btn-danger(style = "margin-right : 10px;" href = "/main#/content") Batal
									img(src= '/spinner.gif' style = "display : none;")#loading
script.
	pageSetUp();

	function pilihGambar () {
		$('#gambar').click();
		return false;
	}

	$(function (){
		
		if ('#{status}' == 'edit') {
			//- GetIndukfilm();
			var kat_value = $('select#kategori').attr('data-value');
			var element = "<option> Choose Kategori </option>";
			kat_value = JSON.parse(kat_value);
			kat_value.forEach(function (i){
				element += '<option selected value = "'+i.title+'">'+i.title+'</option>';
			});
			$('select#kategori').html(element);
		}

		$('select#kategori').selectize({
			valueField: 'title',
			labelField: 'title',
			searchField: 'title',
			options: [],
			create : true,
			load : function (query, callback) {
				if (!query.length) return callback();
				$.ajax({
					url: '/manage/kategori/tag',
					type: 'POST',
					dataType: 'json',
					data: {
						q : query,
						limit : 10,
					},
					error: function() {
						callback();
					},
					success: function(res) {
						callback(res);
					}
				});
			}
		});

		$('#gambar').change(function (e){
			e.preventDefault();
			var tmppath = URL.createObjectURL(event.target.files[0]);
			var gambarnya = "background-image:url('" + tmppath + "')";
			$('.thumbnail').attr('style', gambarnya);
		});
		
		$('#formContent').submit(function (e){
			var selector = $('#simpanItems');
			selector.attr('disabled', true);
			var produk = $('#produk').val();
			var harga = $('#harga').val();
			var stock = $('#stock').val();
			var berat = $('#berat').val();
			var gambar = $('#gambar').val();
			if ('#{status}' == 'edit') {
				gambar = "gambar";
			}
			if (produk == "" || harga == "" || stock == "" || berat == "" || gambar == "") {
				selector.attr('disabled', false);
				$(".progress").addClass("hidden");
				$(".progress-bar-success").removeClass("active").width("0%");
				$.smallBox({
					title : "Warning",
					content : "<i class='fa fa-times'></i> <i> data masih ada yang kosong </i>",
					color : "#C46A69",
					iconSmall : "fa fa-times  fa-1x fadeInRight animated",
					timeout : 1000
				});
			} else {
				$(this).ajaxSubmit({
					uploadProgress : function(event, position, total, percentComplete) {
						var percentTotal = percentComplete + "%";
						$(".progress-bar-success").addClass("active").width(percentTotal);
					},
					error: function(xhr) {
						console.log(xhr);
						selector.attr('disabled', false);
						$(".progress").addClass("hidden");
						$(".progress-bar-success").removeClass("active").width("0%");
					},
					success : function (data) {
						setTimeout(function() {
							$(".progress").addClass("hidden");
							$(".progress-bar-success").removeClass("active").width("0%");
						}, 200);
						if (data.status == 200 ) {
							$.smallBox({
								title : "Successfully",
								content : "<i class='fa fa-clock-o'></i> <i> content berhasil di olah </i>",
								color : "#659265",
								iconSmall : "fa fa-check fa-1x fadeInRight animated",
								timeout : 4000
							});
							window.location.href = '/main#/content';
						} else {
							$.smallBox({
								title : "Warning",
								content : "<i class='fa fa-times'></i> <i> content gagal di olah</i>",
								color : "#C46A69",
								iconSmall : "fa fa-times  fa-1x fadeInRight animated",
								timeout : 1000
							});
						}
						selector.attr('disabled', false);
					}
				});
			}
			e.preventDefault();
		});

	});