.box-thumbnail, .box-post {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 128px;
}
.box-post {
	min-height: 400px;
	margin-bottom: 10px;
}
.box-list-thumbnail {
	list-style: none;
	display: inline-table;
	width: 64px;
	margin: 5px;
}
.box-list-thumbnail a {
	display: block;
}
.box-list-thumbnail div {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 5px;
	height: 64px;
	width: 64px;
}


/* CARAOUSEL */
.carousel-img {
	width: 100%;
	height: 500px;
	background-color: rgba(0,0,0,.5);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
}
.carousel-caption p {
	font-size: 2em;
	text-shadow: 0px 0px 25px rgba(0,0,0,1);
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 5px solid#EEE;
	display: inline-block;
}
.carousel-over {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.main-container {
	min-height: 600px;
}


/* THUMBNAIL BIG */
.box-list-thumbnail-big > a {
	display: block;
}
.box-list-thumbnail-big > a > div {
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,.15);
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.box-list-thumbnail-big .text-caption {
	/*position: absolute;*/
	background-color: #333;
	height: 40px;
	color: #EEE;
	padding: 1em;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#list_data [class*=col-lg-12] {
	padding: 0em;
}