section#widget-grid
	div.row
		article.col-xs-12.col-sm-12.col-md-12.col-lg-12
			div.jarviswidget.jarviswidget-color-darken(data-widget-editbutton="false", data-widget-refresh='10', data-widget-deletebutton='false')
				header
					span.widget-icon
						i.fa.fa-table
					h2 DATA CONTENT
				div
					div.jarviswidget-editbox

					div(class='widget-body no-padding')
						div.col-lg-12(style="padding:10px;background-color:#eee;")
							a.btn.btn-default(href = "/main#/content/add" data-original-title= 'Tambah Item Baru'  data-placement="bottom" rel="tooltip" style = "margin-right : 10px;")
								i.fa.fa-1x.fa-plus
							button.btn.btn-default(data-url = "/main#/content/edit" id = "edit" data-original-title= 'Edit Item ' data-placement="bottom" rel="tooltip" style = "margin-right : 10px;")
								i.fa.fa-1x.fa-pencil
							button.btn.btn-default#clear(data-original-title= 'Reset & Refresh'  data-placement="bottom" rel="tooltip" style = "margin-right : 10px;")
								i.fa.fa-1x.fa-refresh
							button.btn.btn-default#delete-item(data-original-title= 'Hapus Item'  data-placement="bottom" rel="tooltip" style = "margin-right : 10px;")
								i.fa.fa-1x.fa-trash-o
								
							//- div.col-lg-3.pull-right
						table.table.table-bordered.table-hover.table-striped#table-item
							thead
								tr
									th(data-class='expand')
									th PRODUK
									th HARGA
									th STOK
									th BERAT
									th(data-hide='phone,tablet') CREATED
									th(data-hide='phone,tablet') UPDATED
script.
	pageSetUp();
	var selected = [];

	$(function (){
		var dataTableWidth=[{'targets':0,'width':'15px'}];
		var dataTableURL = '/content/dataTable';
		var rows = [];
		$('table#table-item thead tr th').each(function (i){
			rows.push(i);
		});
		var orderBy = [[8,'desc']];
		rows.splice(0,1);	

		var tableitem = dataTable('#table-item',dataTableURL,dataTableWidth ,{ selectable : [1,2,3,4,5,6] , orderBy : [[5,'desc']] });

		function refresh(){
			tableitem.fnDraw();
			selected = [];
		}

		SelectedRow('#table-item');

		$('#edit').click(function (e){
			e.preventDefault();
			if (selected.length == 1) {
				var url = $(this).attr('data-url');
				window.location.href = url+'/'+selected[0];
			} else {
				$.smallBox({
					title : "Peringatan",
					content : "<i class='fa fa-clock-o'></i> <i> Minimal Satu Data !!!</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times fa-1x fadeInRight animated",
					timeout : 1000
				});
			}
		});

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		});

		$('#delete-item').click(function (e){
			e.preventDefault();
			if (selected.length != 0 ) {
				$.SmartMessageBox({
					title : "Warning !!!",
					content : "Are You Sure ? You Want to Delete This Item",
					buttons : '[No][Yes]'
				}, function (ButtonPressed) {
					if (ButtonPressed === "Yes") {
						var kirim = {
							id : selected
						}
						$.ajax({
							url : '/content/delete',
							type : 'POST',
							dataType : 'json',
							data : {data  : JSON.stringify(kirim) },
							success : function (msg) {
								refresh();
							}
						})
					} else {
						$('#clear').click();
					}
				});
			} else {
				$.smallBox({
					title : "Peringatan",
					content : "<i class='fa fa-clock-o'></i> <i> Data Masih Kosong !!!</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times  fa-1x fadeInRight animated",
					timeout : 1000
				});
			}
		});
	});