include ./component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-user")
				h2 KATEGORI MANAGER

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{ID : 'dataTable-add' ,  onclick : 'DataTableAdd("/manage/kategori/add","Tambah kategori Baru")' , title : 'Create New kategori' , kelas : 'fa-plus'},{ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'},{onclick : 'DataTableDelete("/manage/kategori/delete")', title : 'Delete User' , kelas : 'fa-trash-o'}]
						+component(data)
					table(id = "table-kategori" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Nama
								th(data-hide='phone,tablet') Created_at

script.
	pageSetUp();
	var selected = [];

	$(function (){
		var dataTableWidth=[{'targets':0,'width':'15px'}];
		var dataTableURL = '/manage/kategori/dataTable';

		var tableuser = dataTable('#table-kategori',dataTableURL,dataTableWidth ,{ selectable : [1,2] });
		
		function refresh(){
			tableuser.fnDraw();
			selected = [];
		}

		SelectedRow('#table-kategori');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		})

	});